$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
// for light theme
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlueLight: hsl(233, 11%, 84%);
$DarkGrayishBlueLight: hsl(236, 9%, 61%);
$VeryDarkGrayishBlueLight: hsl(235, 19%, 35%);
// for dark theme
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);
$BackgroundImage: "/assets";
$boxShadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

$breakpoints: (
  "mobile": 768px,
);

@mixin mobile {
  @media (max-width: map-get($breakpoints, "mobile")) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

html,
body {
  background-color: $VeryLightGrayishBlue;
}

.App {
  background-image: url(#{$BackgroundImage}/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  height: 100%;
  padding: 5% 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mobile {
    background-image: url(#{$BackgroundImage}/bg-mobile-light.jpg);
    background-size: contain;
  }
}

.default-text {
  text-align: center;
  padding: 0.7rem;
}

p {
  font-size: 0.9rem;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mobile {
    width: 100%;
    margin-top: 2rem;
  }

  h1 {
    color: $VeryLightGray;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 15px;

    @include mobile {
      font-size: 1.7rem;
      letter-spacing: 10px;
    }
  }
}

.add-item {
  margin-top: 2rem;
  width: 100%;
  box-shadow: $boxShadow;
  position: relative;
  border-radius: 10px;

  @include mobile {
    width: 100%;
    margin-top: 1.5rem;
  }

  input {
    color: $VeryDarkGrayishBlueLight;
    background-color: $VeryLightGray;
    border-radius: 7px;
    padding: 1rem 1rem 1rem 4rem;
    width: 100%;
  }

  button {
    position: absolute;
    border: 1px solid $LightGrayishBlueLight;
    left: 0;
    top: 50%;
    transform: translate(100%, -50%);
    padding: 0.7rem;
    border-radius: 50%;
    background: none;
    text-align: center;
  }
}

.main-tasks {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 7px;
  background-color: $VeryLightGray;
  box-shadow: $boxShadow;

  @include mobile {
    width: 100%;
    margin-top: 0.8rem;
  }

  div {
    ul {
      width: 100%;

      li {
        position: relative;
        width: 100%;
        padding: 0.8rem 1.5rem;
        border-bottom: 1px solid $LightGrayishBlue;

        label {
          color: $VeryDarkGrayishBlueLight;
          font-weight: 400;
          padding-left: 1.5rem;
          margin-left: 1rem;
        }

        input[type="checkbox"] {
          -webkit-appearance: none;
          position: absolute;
          border: 1px solid $LightGrayishBlueLight;
          left: 0;
          top: 50%;
          transform: translate(100%, -50%);
          border-radius: 50%;
          cursor: pointer;
          width: 1.5rem;
          height: 1.5rem;

          &:hover {
            border-color: $CheckBackground;
          }

          &:checked {
            background-image: url(#{$BackgroundImage}/icon-check.svg),
              linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
  }

  .extra-info {
    color: $VeryDarkGrayishBlueLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .selected-content {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include mobile {
        gap: 0.7rem;
      }
    }
  }
}
